h3 The Chore Board
table
    tr
        th Brolympite
        th Job
        th Did it this week?
        th Notification Settings
    tr
        td Nathan
        td Kitchen Floors
        td
            input(type="checkbox")
    tr
        td Mike
        td Bathroom
        td
            input(type="checkbox")
        td
    tr
        td Michael
        td Trash
        td
            input(type="checkbox")
        td
    tr
        td Nirmit
        td
        td
            input(type="checkbox")
        td