#login.modal.hide.fade.media(role="dialog" data-keyboard="false" data-backdrop="static")
    .modal-dialog
        .modal-header
            h3 Who Are You?
        .modal-content
            .modal-body
                input(type="text" placeholder="Your name")
                input(type="password" placeholder="Your unique key")