doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Engineering Society Forum')
    meta(name='author', content="Queen's Engineering Society")
    meta(name='keywords', content='Queens University, School, Forum, Engineering, Undergraduate')
    title Brolympiates Home
    link(rel='icon', href='../assets/favicon.ico')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css', integrity='sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/index.js')
  body
    .centered
      img(src='../assets/brolympic.svg')#headimg
      h1 Yo yo yo homies
      hr.half
      p Check this shit out
      br 
      br 
      br
      .row
        .col-xs-6
          button#chores
            h4 Chores
        .col-xs-6
          button#messages
            h4 Message Board

